.btn {
  padding: 0.7rem 3rem;
  border-radius: 5px;
  margin-top: 1rem;
  letter-spacing: 3.5px;
  border: 2px solid transparent;

  background-color: #2ecc71;
  color: #1d1d1d;
  cursor: pointer;

  &:hover {
    color: #2ecc71;
    background: #1d1d1d;
    border: 2px solid #2ecc71;
  }

  @include respond(phone) {
    width: 100%;
  }
}
